.main{
    margin-top: 50px;
    width: 50%;
    height: 300px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: pink;
    box-sizing: border-box;
    text-align: center;      
}

.count-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
}

.count{
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 50%;
    background-color: DodgerBlue;
    color: white;
    font-size: 25px;
}

span{
    width: 250px;
    height: 50px;
    margin: 10px;
    /* border-radius: 50%; */
    background-color: rgb(144, 229, 255);
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 15px 5px 0px 5px;
}

.flex-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    background-color: #aa4949;
}

.count-btn {
    color: black;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 10px 16px 15px 10px;
    background-color: rgba(180, 176, 176, 0.795);
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

.active, .count-btn:hover {
    background-color: rgb(159, 215, 238);
    color: white;
}